{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        {{ form_start(form, {'action' : path('task_create'), 'attr': {'class': 'mb-3'}}) }}
            {{ form_widget(form) }}

            <button type="submit" class="btn btn-outline-success pull-right" style="float: right">Ajouter</button>
        {{ form_end(form) }}

        <a href="{{ path('task_list') }}" class="btn btn-outline-primary">Retour à la liste des tâches</a>
    </div>
{% endblock %}
